html, body, #main, #currentgame {
    height: 100%;
    overflow: hidden;
}

#main {
    display: flex;
    flex-direction: row;
}

#currentgame, #startgame {
    flex: 7;
    display: flex;
    flex-direction: column;
}

#startgame {
    display: flex;
    justify-content: center;
    align-items: center;
}

#enemies {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.enemy {
    margin: 2px;
    padding: 3px 0px 3px 10px;
    border: 1px solid gray;
    flex: 1;
    display: flex;
    flex-direction: row;
}
.enemyname {
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#table {
    position: relative;
    flex: 8;
    display: flex;
    flex-direction: column;
}
.tablerow {
    flex: 1;
    display: flex;
    flex-direction: row;
}
#hand {
    flex: 3;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.stackheight {
    text-align: center;
}

.tablecontainer {
    flex: 1;
    margin: 2px;
    padding: 20px;
    border: 0.5px black solid;
    border-radius: 10px;
}
.cardcontainer {
    flex: 1;
    padding: 20px;
}
#status {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#statustext {
    text-align: center;
}
#cardcount {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar {
    flex: 2.5;
    min-width: 100px;
    display: flex;
    flex-direction: column;
}
#scores {
    padding: 10px;
    flex: 3.5;
}
#scoretitle {
    margin-left: 20px;
}
.playerscore * {
    margin-left: 5px;
}
#voting {
    flex: 0.7;
}
#settings {
    flex: 1;
}

p {
    margin: 0;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stop {
    width: 100%;
    height: 100%;
    /* Modified from https://upload.wikimedia.org/wikipedia/commons/1/1e/Vienna_Convention_road_sign_B2a.svg */
    background-image: url("stop.svg");
    background-size: 100% 100%;
}

#startoverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0.7, 0.7, 0.7, 0.5);
    border-radius: 10px;

    font-size: 1200%;
    text-align: center;
}

.highlight-card {
    animation: 0.4s highlight-card;
}
@keyframes highlight-card {
    0% { transform: scale(1); }
    70% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

.enemy-mouse {
    position: fixed;
    padding: 3px;
    background-color: #555;
    border-radius: 0px 10px 10px 10px;
    pointer-events: none;
}

.enemy-mouse.enemy-mouse-dragging {
    font-weight: bold;
}

#secretspoiler {
    color: white;
}

#rejoin {
    padding: 5px;
    border: 1.5px solid red;
    border-radius: 10px;
}
#rejoingamename, #rejoinplayername {
    font-weight: bold;
}
